<div class="row p-3">

    <div class="col-3  " style="position: fixed;background-color: white;border-radius: 20px;">
        <app-details></app-details>
    </div>

    <div class="col-9">
        <div class="container-fluid f">
        
            <div class="left me-5 ms-5">
                <h3 class="text-primary ms-3 mb-3">Date Rendez-Vous</h3>
                <mat-form-field class="example-form-field w-50">
                    <mat-label>Choose a date</mat-label>
                    <input required matInput [matDatepicker]="datepicker" (dateInput)="getDate($event) " [(ngModel)]="date">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>
        
                <div class="alert alert-danger mt-2 w-50" *ngIf="DateError"> Notre service non disponible en Dimanche </div>
            </div>
        
            <div class=" ms-5 right w-100">
                <table class="table table-striped">
        
                    <thead class="">
                        <tr>
                            <th class="">Horaire</th>
                            <th class="text-primary"></th>
                            <th class="" style="width: 200px;">disponibilité</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>8:00</td>
                            <td><input type="checkbox" (click)="heure='8\:00'"></td>
                            <td>disponible</td>
                        </tr>
                        <tr>
                            <td>8:45</td>
                            <td><input type="checkbox" disabled></td>
                            <td>non disponible</td>
                        </tr>
                        <tr>
                            <td>9:30</td>
                            <td><input type="checkbox" (click)="heure='9\:30'"></td>
                            <td>disponible</td>
                        </tr>
                        <tr>
                            <td>10:15</td>
                            <td><input type="checkbox" (click)="heure='10\:15'"></td>
                            <td>disponible</td>
                        </tr>
                        <tr>
                            <td>11:00</td>
                            <td><input type="checkbox" disabled></td>
                            <td> non disponible</td>
                        </tr>
                        <tr>
                            <td>11:45</td>
                            <td><input type="checkbox" disabled></td>
                            <td> non disponible</td>
                        </tr>
                        <tr>
                            <td>12:30</td>
                            <td><input type="checkbox" disabled></td>
                            <td> non disponible</td>
                        </tr>
                        <tr>
                            <td>13:15</td>
                            <td><input type="checkbox" (click)="heure='13\:15'"></td>
                            <td>disponible</td>
                        </tr>
                    </tbody>
        
                </table>
                <button class="btn btn-primary" (click)="GoToPayment()">Submit</button>
            </div>
        
        </div>

    </div>


</div>