<div class="container-fluid f">
    
    <div class=" pic m-0">
        <img class="img-fluid" src="../../assets/home1.jpg" alt="">
        <p class="p1">We're Leaders in Auto Repair ,</p>
        <p class="p2">Maintenance & Inspection</p>
        <div class="button">
            <button class="btn btn-primary" (click)="GoToSign()">Prendre RDV</button>
            <!-- <button  class="btn btn-primary">Voir RDV</button> -->
        </div>

        <div class="footer">

            <div class="col-4  text-light">
                <h4><b>Meilleurs prix</b></h4>
                <p>Tous les services de controle et reparation disponible a prix raisonnable</p>
            </div>
            <div class="col-4  text-light">
                <h4><b>100% guarantie</b></h4>
                <p><i class="fa fa-ok"></i>Tous les services de controle et reparation inclus un guarantie</p>
            </div>
            <div class="col-4 text-light">
                <h4><b>Mecaniciens certifies</b></h4>
                <p><i class="fa fa-certificate"></i>Tous les mechaniciens sont qualifiés and trainés regulierement</p>
            </div>

        </div>

    </div>
</div>
